@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poppins:wght@500&family=Roboto&family=Ubuntu:wght@300&display=swap");
body {
  background-color: white;
}
p {
  font-family: "roboto", sans-serif;
}
li {
  font-family: "ubuntu";
  font-weight: 0.5em;
}
h1 {
  font-family: "ubuntu";
}
